* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #131313;
  background: transparent;
  overflow-x: hidden;
}

/* -- header Section -- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  height: 75px;
  background-color: #131313;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #f5f5f5;
}

.logo::after {
  content: "";
  position: absolute;
  left: 0.8em; /* 이름과 선 사이의 간격 */
  bottom: -24px; /* 이름 아래와의 거리 */
  width: 56px; /* 선 길이 */
  height: 1px; /* 선 두께 */
  background-color: #f5f5f5; /* 선 색상 */
}

.nav {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #f5f5f5;
  margin-left: 40px;
  font-size: 0.9rem;
}

/* -- title Section -- */
.title {
  width: 100%;
  height: 95vh;
  background-color: #131313;
  display: flex;
  align-items: center;
  padding-left: 12%;
  overflow: hidden;
  position: relative;
}

.title-inner {
  position: relative;
  margin-left: 120px;
}

.title::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.25; /* 노이즈 강도 */
  z-index: 1;
}

.title-container {
  position: relative;
  display: inline-block;
}

.bg-text {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.28);
  letter-spacing: 7px;
  margin: 0;
  line-height: -2;
  top: -200px;
  left: 40px;
  position: absolute;
  opacity: 0;
  transform: translateY(24px);
  animation: titleFront 1.4s ease-out forwards;
  animation-delay: 1.2s;
}

.main-text {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: -255px;
  left: 25px;
  font-size: 80px;
  font-weight: 600;
  color: #f5f5f5;
  letter-spacing: 7px;
  margin: 0;
  line-height: 3.5;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(24px);
  animation: titleFront 1.2s ease-out forwards;
  animation-delay: 0.8s;
}

@keyframes titleFront {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes bg-text {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -- About Me -- */
.about-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* -- Project 01 -- */
.project01-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project01-01-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project01-02-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project01-03-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project01-04-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project01-05-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* -- Project 02 -- */
.project02-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project02-01-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project02-02-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project02-03-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project02-04-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* -- Project 03 -- */
.project03-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project03-01-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project03-02-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project03-03-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project03-04-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* -- Project 04 -- */
.project04-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project04-01-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project04-02-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project04-03-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project04-04-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* -- Project 05 -- */
.project05-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project05-01-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project05-02-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project05-03-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project05-04-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project05-05-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project05-06-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* -- Project 06 -- */
.project06-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project06-01-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project06-02-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project06-03-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project06-04-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.project06-05-img {
  width: 100%;
  height: 860px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* -- Tank You -- */

.thankyou {
  width: 100%;
  height: 860px;
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.thankyou-container {
  position: relative;
}

.thankyou::before {
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.25; /* 노이즈 강도 */
  z-index: 1;
}

/* 뒤에 흐린 글씨 */

.bg2-text {
  font-size: 140px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: -20px;
  left: -20px;
  white-space: nowrap;
}

/* 앞 글씨 */

.main2-text {
  font-size: 140px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  white-space: nowrap;
}

/* -- Footer -- */
.footer {
  width: 100%;
  background: #131313;
  padding: 90px 10%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 100px;
}

.footer-name {
  font-size: 18px;
  color: #ffffff;
}

.footer-phone {
  font-size: 16px;
  color: #dcdcdc;
}

.footer-email {
  font-size: 16px;
  color: #dcdcdc;
}

.footer-copy {
  margin-top: 40px;
  font-size: 14px;
  color: #9a9a9a;
}
